/* 
    Document   : typography
    Created on : 16-dic-2012, 22:29:10
    Author     : pablo
    Description:
        CSS Font Face Definitions.
*/


@font-face {
  font-family: AndaleMono;
  src: url('../fonts/AndaleMono.eot');
  src: url('../fonts/AndaleMono.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AndaleMono.otf') format('opentype'),
    url('../fonts/AndaleMono.woff') format('woff'),
    url('../fonts/AndaleMono.svg#AndaleMono') format('svg');
  font-weight: normal;
  font-style: normal;
}

.andale-mono {
  font-family: AndaleMono;
}

